#container {
    max-width: 1200px;
    margin: 0 auto;
    /* some breathing space */
    padding-top: 15px;
    padding-bottom: 15px;
}

.page {
    border: 2px solid black;
    font-family: Candarad;
}

#footer {
    text-align: center;
    font-family: "Candara";
}
