/* downloaded from https://www.onlinewebfonts.com/package/Candara */
@font-face {
    font-family: 'Candara';
    src: url('/vendor/fonts/Candara-Regular.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}

/* downloaded from https://www.onlinewebfonts.com/package/Candara */
@font-face {
    font-family: 'Candara';
    src: url('/vendor/fonts/Candara-Bold.woff')format('woff');
    font-weight: bold;
    font-style: normal;
}

/* downloaded from https://en.bestfonts.pro/font/download/5c60a34630732d049e0253a8 */
@font-face {
    font-family: 'Arial';
    src: url('/vendor/fonts/Arial-Regular.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}

/* downloaded from https://en.bestfonts.pro/font/century-gothic */
@font-face {
    font-family: 'Century Gothic';
    src: url('/vendor/fonts/CenturyGothic.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}
